@using Entities
@using Business
@inject NavigationManager NavManager

    <EditForm Model="oCategory">
        <div class="form-group">
            <label>Categoria:</label>
            <InputText class="form-control" @bind-Value="oCategory.categoryName" />
        </div>

        <input type="button" value="Actualizar Producto" @onclick="UpdateProduct" />

    </EditForm>


@code {
    [Parameter]
    public string IdCategory { get; set; }

    CategoryEntity oCategory = new CategoryEntity();

    protected override async Task OnInitializedAsync()
    {
        oCategory = B_Category.CategoryById(IdCategory);
    }

    public void UpdateProduct()
    {
        B_Category.UpdateCategory(oCategory);
        NavManager.NavigateTo("category/list");
    }

}

