@using Entities;
@using Business;

<div>

    <EditForm Model="oProduct">
        <div class="form-group">
            <label>Referencia :</label>
            <InputText @bind-Value="oProduct.productId" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label>Nombre del Producto :</label>
            <InputText @bind-Value="oProduct.productName" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label>Descripción del Producto :</label>
            <InputTextArea @bind-Value="oProduct.productDesciption" class="form-control"></InputTextArea>
        </div>
        
        <div class="form-group">
            <label>Categoria :</label>
            <InputSelect @bind-Value="oProduct.categoryId" class="form-control">
                @foreach(var category in categories)
                {
                    <option value="@category.categoryId">@category.categoryName</option>
                }
            </InputSelect>
        </div>

        <input type="button" value="Agregar Producto" @onclick="SaveProduct" />

    </EditForm>

</div>

@code {
    ProductEntity oProduct = new ProductEntity();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
    }

    public void SaveProduct()
    {
        B_Product.CreateProduct(oProduct);
    }
}
