@page "/"

<h1>Sistema E-Comerce</h1>

<div class="container-fluid">
    <p class="float-left">
        <span class="oi oi-target"  style="font-size: 60px"></span>
    </p>
    <p class="h4">
        Bienvenido
    </p>
</div>
<OrderCreateComponent/>